.encabezado{
background-color: rgb(119, 100, 75);
margin-left: auto;
margin-right: auto;
display: block;
border-style: solid;
}
.encabezado a{
    text-decoration: none;
}
d1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: block;
    float:inline-end;
}
p1{
    padding-left: 35px;
}
p2{
    padding-left: 480px;
}
body{
    background-color: darkgray;
}
a1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 15px;
}
m1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 25px;
    padding-left: 75px;
}
m2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
    padding-left: 100px;
}
m{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
cat{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
}
.redes a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    padding-left: 15px;
}